html, body {
  margin: 0;
  height: 100%;
  padding: 5px;
}

body {
  font-family: 'Ubuntu', sans-sans-serif;
  background: linear-gradient(#e0a080, #4040a0);
  background-size: cover;
  color: #4040a0;
}

header {
  display: flex;
  justify-content: space-between;
}

#container {
  width: 100%;
  text-align: center;
}

#controller {
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
  position: fixed;
  top: 600px;
  background-image: url(./assets/background.png);
  background-repeat: space;
  height: 141px;
}
#controller div {
  margin: auto;
}

#left {
  height: 0;
  width: 0;
  left: 0;
  border-right: 10em solid #6060c0;
  border-top: 5em solid transparent;
  border-bottom: 5em solid transparent;
}

#right {
  height: 0;
  width: 0;
  right: 0;
  border-left: 10em solid #6060c0;
  border-top: 5em solid transparent;
  border-bottom: 5em solid transparent;
}

#jump {
  height: 10em;
  width: 10em;
  background: linear-gradient(#6060c0, #4040a0);
  border-radius: 50%;
}

#jump h2 {
  font-size: 4em;
  margin: 0;
  background: #800000; /*linear-gradient(#e00000; #800000);*/
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0.75em;
}

button {
  border: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#6060c0, #4040a0);
  color: #e0e0e0;
  font-size: 2em;
}

i {
  padding-top: 20px;
}

.instructions {
  background-color: rgba(39, 39, 155, 0.5);
  margin: auto;
  width: 50%;
  border-radius: 10px;
  color: #B5B5EC;
  text-shadow: 2px 2px 2px #27279B;
}

.instructions span {
  color: #F4E446;
  text-shadow: 2px 2px 2px #B5B5EC;
  cursor: pointer;
}
