body {
  font-family: 'Ubuntu', sans-sans-serif;
  color: #4040a0;
}

header {
  display: flex;
  justify-content: space-between;
}

#container {
  width: 100%;
  text-align: center;
}

#controller {
  width: 100%;
  height: 80px;
  margin: auto;
  display: flex;
}
#controller div {
  margin: auto;
}

#left {
  height: 0;
  width: 0;
  left: 0;
  border-right: 5em solid #6060c0;
  border-top: 2.5em solid transparent;
  border-bottom: 2.5em solid transparent;
}

#right {
  height: 0;
  width: 0;
  right: 0;
  border-left: 5em solid #6060c0;
  border-top: 2.5em solid transparent;
  border-bottom: 2.5em solid transparent;
}

#jump {
  height: 5em;
  width: 5em;
  background: linear-gradient(#6060c0, #4040a0);
  border-radius: 50%;
}

#jump h2 {
  font-size: 4em;
  margin: 0;
  background: #800000; /*linear-gradient(#e00000; #800000);*/
  -webkit-background-clip: text;
  color: transparent;
}

button {
  border: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#6060c0, #4040a0);
  color: #e0e0e0;
  font-size: 2em;
}
